#logo {
	max-width: 80%;
	max-height: 26px;
}

table {
	margin-bottom: 0 !important;
}

.tab-pane {
	background: $gray-100;
	ul {
		background: $gray-100;
	}
}

.c-main {
	padding-bottom: 2rem;
}

.c-subheader {
	min-height: 47px;
	ul {
		min-height: 47px;
		li {
			height: 100%;
			a {
				cursor: pointer;
				height: 100%;
				padding-bottom: 2px;
				&.active {
					padding-bottom: 0;
					font-weight: $font-weight-bolder;
					border-bottom: 2px solid $gray-700;
				}
			}
		}
	}
}

.dropdown {
	&.show {
		.c-header-nav-link {
			color: $gray-100;
			background: $gray-700;
			svg {
				path, polygon, line, rect {
					fill: $gray-100;
				}
			}
		}
	}
	&.dropdown-wide {
		.dropdown-menu {
			width: 600px;
			max-width: 95vw;
			.message {
				width: 100%;
				.text {
					white-space: normal;
				}
				& > div {
					max-width: 100%;
				}
			}
		}
	}
}

.vue-star-rating-star-rotate:hover {
    transition: transform .25s ease-in-out !important;
    transform: scale(1.3) !important;
}

.multiselect, .multiselect__input, .multiselect__single {
	&.multiselect-sm {
		font-size: 14px !important;
	}
	font-size: unset !important;
}

.v-select {
	&.vs--searchable {
		input[type="search"] {
			display: none;
		}
		div[role="combobox"] {
			min-height: 40px;
		}
		&.vs--open {
			input[type="search"] {
				display: block;
			}
		}
	}
}