.text-shadow {
	text-shadow: 0 1px rgba(0,0,0,.18);
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.cursor-pointer {
	cursor: pointer;
}

.overflow-y-auto {
	overflow-y: auto;
}

.color-swatch {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	&.small {
		width: 25px;
		height: 25px;
	}
	&.medium {
		width: 38px;
		height: 38px;
	}
}