// Typography
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

// Body BG
$body-bg: #f8fafc;

$breadcrumb-bg: transparent;

$fifocolors: (
	// Colors
	'white': 	#FFFFFF, //
	'blue': 	#3399ff, //
	'indigo': 	#6574cd,
	'purple': 	#9561e2,
	'pink': 	#f66d9b,
	'red': 		#e55353, //
	'orange': 	#f9b115, //
	'yellow': 	#f9b115,
	'green': 	#2eb85c, //
	'charcoal':	#636f83, //
	'cyan': 	#6cb2eb,
	'grey':		#ced2d8, //
	'black': 	#000000 //
);